@import '~office-ui-fabric-react/dist/sass/References.scss';
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");

$gamiLength: 160px;

.eLearningBoard {
  @font-face {
    font-family: 'Nunito';
    src: url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito",
      sans-serif;
  }

  body {
    font-family: 'Nunito' !important;
    font-weight: 300;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  .container {
    max-width: 1250px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
      0 25px 50px 0 rgba(0, 0, 0, 0.1);
    font-family: "Nunito",
      sans-serif;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .cardWrapper {
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem 0;
  }

  // Header
  .headerWrapper {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #0000c1;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    justify-items: center;
  }

  .headerWrapper>div:not(:first-child) {
    border-left: 1px solid #fff;
  }

  //Avatar
  .avatarWrapper {
    // border: 1px solid red;
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: center;
  }

  .avatarText {
    // border: 1px solid red;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    // align-self: flex-end;
    position: relative;
    align-self: center;
  }

  .avatarImg {
    // border: 1px solid red;
    width: 70px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin: .5rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .avatar {
    // border: 1px solid red;
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    align-self: center;
  }

  // Level
  .levelWrapper {
    // border: 1px solid red;
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: center;
  }

  .levelText {
    // border: 1px solid red;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    // align-self: flex-end;
    position: relative;
    align-self: center;
  }

  .levelBox {
    // border: 1px solid red;
    align-self: flex-end;
    margin-bottom: 20px;
    display: none;
  }

  .levelPop {
    // border: 1px solid red;
    max-height: 25px;
    max-width: 120px;
    background: #2980b9;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .levelPop::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 45%;
    height: 0;
    width: 0;
    // background: #0096a2;
    box-sizing: border-box;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    border-top: 15px solid #2980b9;
  }

  .level {
    border: 5px solid white;
    text-align: center;
    top: -10px;
    padding: 0 1rem;
    background-color: light#0c80df;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
  }

  // Rank
  .rankWrapper {
    // border: 1px solid red;
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: center;
  }

  .rankText {
    // border: 1px solid red;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    // align-self: flex-end;
    position: relative;
    align-self: center;
  }

  .rankImg {
    // border: 1px solid red;
    max-width: 80px;
    max-height: 80px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: grid;
    justify-content: center;
    align-self: flex-end;
    display: none;
  }

  .rank {
    margin: 0 auto;
    height: 60px;
    width: auto;
  }

  .rankTitle {
    // border: 1px solid red;
    display: block;
    align-self: flex-end;
    font-size: 14px;
    text-transform: uppercase;
    color: #2ecc71;
  }

  // Report
  .boardWrapper {
    // border: 1px solid red;
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: center;
  }

  .boardImg {
    // border: 1px solid red;
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: grid;
    justify-content: center;
    align-self: flex-end;
    display: none;
  }

  .board {
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

  .boardText {
    // border: 1px solid red;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    // align-self: flex-end;
    position: relative;
  }

  .certText {
    // border: 1px solid red;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    // align-self: flex-end;
    position: relative;
  }

  .cerWrapper {
    align-self: center;
    width: 100%;
    justify-content: center;
  }

  .imgCer {
    width: 50px;
  }

  // Section
  .sectionTitle {
    // border: 1px solid red;
    font-size: 22px;
    color: dark#0c80df;
    margin: 1rem 0;
    display: none;
  }

  .sectionWrapper {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    margin-top: 1rem;
  }

  // Section --> Course
  // Card


  .cardBoxWrapper {
    // border: 1px solid red;
    margin: .5rem;
    padding: 1rem;
    border-radius: 10px;
    background-image: url("https://image.freepik.com/free-vector/watercolor-design-back-school-background_23-2148593945.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
  }


  .cardText {
    // border: 1px solid red;
    font-size: 22px;
    color: #202020;
  }

  .cardBtn {
    // border: 1px solid red;
    display: inline-block;
    padding: .5rem;
    background-color: #A0A0A0;
    color: white;
    margin-top: .2rem;
    font-size: 12px;
  }

  // Process
  .courseWrapper>.courseTitle {
    // border: 1px solid red;
    font-size: 20px;
    font-weight: 600;
    color: #0000c1;
    margin: 1rem 0;
    display: flex;
  }

  .countWrapper {
    font-size: 14px;
    align-self: center;
  }

  .noCountDown {
    font-size: 14px;
    align-self: center;
    margin-left: .5rem;
    color: #000;
  }

  .countDown {
    font-size: 14px;
    align-self: center;
    margin-left: .5rem;
    text-decoration: blink;
    animation-name: blinkerCountdown;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    display: flex;
  }

  .timeLeft {
    font-size: 12px;
    align-self: center;
    text-decoration: blink;
    animation-name: blinkerCountdown;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

  .courseCardWrapper {
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: rgba(255, 99, 132, 1);
    background-color: #fff;
    border: 1px solid #bdc3c7;
    // display: none;
  }

  .courseCard {
    // border: 1px solid red;
    // padding: 1rem .5rem;
    justify-content: center;
  }

  .skillStats {
    // margin: 1rem 0;
    height: auto;
  }

  .skillPoints {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
  }

  .pointsCom {
    height: 18px;
    width: 18px;
    background-color: #0000c1;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0.5rem;
    // z-index: 1;
    vertical-align: middle;
    border: 1px solid blanchedalmond;
  }

  .pointsCom::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin: 3px 0 0 3px;
    // z-index: 1;
  }

  .pointsPro {
    height: 18px;
    width: 18px;
    background-color: #80c3d8;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0.5rem;
    // z-index: 1;
    vertical-align: middle;
    border: 1px solid blanchedalmond;
  }

  .pointsPro::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin: 3px 0 0 3px;
    // z-index: 1;
  }

  .pointsEn {
    height: 18px;
    width: 18px;
    background-color: #bdc3c7;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0.5rem;
    // z-index: 1;
    vertical-align: middle;
    border: 1px solid blanchedalmond;
  }

  .pointsEn::before {
    content: "";
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin: 3px 0 0 3px;
    // z-index: 1;
  }

  .pointSkillWrapper>.pointsText {
    font-size: 15px;
  }

  .pieCard,
  svg,
  circle {
    // border: 1px solid red;
    // width: 270px;
    // height: 270px;
    z-index: 2;
    color: #fff;
    font-size: 60px;
    text-align: center;
  }

  .circleProgress {
    transform: rotate(-90deg);
  }

  circle {
    position: absolute;
    fill: none;
    stroke-width: 20;
    transform: translate(10px, 10px);
    stroke-dasharray: 400;
    z-index: 2;
  }

  circle:nth-child(1) {
    stroke: #E5E5E5;
    z-index: 2;
  }

  .pieCard circle:nth-child(2) {
    stroke-dashoffset: calc(480 - (480 * 10) / 100);
    stroke: gold;
    animation: percent 1s linear;
    animation-delay: 1s;
    z-index: 2;
  }

  @keyframes percent {
    0% {
      stroke-dashoffset: 480;
      stroke-width: 0;
    }
  }

  .textCard {
    align-self: center;
    margin: 0 1rem;
    z-index: 2;
  }

  .intro {
    // border: 1px solid red;
    color: white;
    font-size: 16px;
    z-index: 2;
  }

  .introGam {
    // border: 1px solid red;
    color: white;
    font-size: 18px;
    z-index: 2;
  }

  .textCard>.incomplete {
    // border: 1px solid red;
    font-size: 14px;
    color: #2980b9;
    z-index: 2;
  }

  .processWrapper {
    padding: 2.4rem 1.5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid #bdc3c7;
    border-radius: 10px;
  }

  .courseProcess {
    margin: .8rem;
  }

  .processFlag {
    display: flex;
    margin-bottom: 5px;
  }

  .flagArrowGami {
    // border: 1px solid red;
    position: relative;
    margin-bottom: 10px;
  }

  .flagArrowGami::before {
    // border: 1px solid red;
    content: "";
    position: absolute;
    top: 38px;
    left: 35%;
    height: 0;
    width: 0;
    // background: #0096a2;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 8px solid #80c3d8;
  }

  .processFlag:hover>.flagInfo {
    display: block;
    visibility: visible;
    z-index: 10;
    padding: .2rem;
    background-color: #fff;
    border: .5px solid #000;
    position: absolute;
    border-radius: 10px;
    max-width: 24%;
  }

  .processFlag>.flagInfo {
    visibility: hidden;
    position: absolute;
  }

  .flagInfo ul,
  .flagInfo li {
    list-style-type: none;
    padding: 0 10px;
  }

  .titleTop {
    margin-top: 1rem;
  }

  .status {
    display: flex;
  }

  .inProcess {
    color: #f39c12;
  }

  .complete {
    color: #2ecc71;
  }

  .enrollment {
    color: #bdc3c7;
  }

  .flagPercentGami {
    height: 36px;
    width: 36px;
    background-color: #80c3d8;
    background-image: #80c3d8;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0 .5rem .5rem 0;
    // z-index: 1;
    left: 60%;
  }

  .flagPercentGami::before {
    content: "";
    height: 28px;
    width: 28px;
    background-color: #80c3d8;
    background-image: #80c3d8;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin: 4px 0 0 4px;
    // z-index: 1;
    border: 1px solid white;
  }

  .flagArrowLead {
    // border: 1px solid red;
    position: relative;
    margin-bottom: 10px;
  }

  .flagArrowLead::before {
    // border: 1px solid red;
    content: "";
    position: absolute;
    top: 38px;
    left: 35%;
    height: 0;
    width: 0;
    // background: #0096a2;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 8px solid #bdc3c7;
  }

  .flagPercentLead {
    height: 36px;
    width: 36px;
    background-color: #bdc3c7;
    background-image: #bdc3c7;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0 .5rem .5rem 0;
    // z-index: 1;
    left: 28%;
  }

  .flagPercentLead::before {
    content: "";
    height: 28px;
    width: 28px;
    background-color: #bdc3c7;
    background-image: #bdc3c7;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin: 4px 0 0 4px;
    // z-index: 1;
    border: 1px solid white;
  }

  .flagArrowStory {
    // border: 1px solid red;
    position: relative;
    margin-bottom: 10px;
  }

  .flagArrowStory::before {
    // border: 1px solid red;
    content: "";
    position: absolute;
    top: 38px;
    left: 35%;
    height: 0;
    width: 0;
    // background: #0096a2;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 8px solid #0000c1;
  }

  .flagPercentStory {
    height: 36px;
    width: 36px;
    background-color: #0000c1;
    background-image: #0000c1;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin: 0 .5rem .5rem 0;
    // z-index: 1;
    left: 94%;
  }

  .flagPercentStory::before {
    content: "";
    height: 28px;
    width: 28px;
    background-color: #0000c1;
    background-image: #0000c1;
    border-radius: 50%;
    display: block;
    position: absolute;
    margin: 4px 0 0 4px;
    // z-index: 1;
    border: 1px solid white;
  }

  .percentIn {
    // border: 1px solid red;
    position: relative;
    display: flex;
    height: 36px;
    width: 36px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 12px;
    color: white;
  }

  .flagTextGami {
    // border: 1px solid red;
    align-self: center;
    font-size: 16px;
    color: #676767;
    position: relative;
    left: 12%;
  }

  .flagTextLead {
    // border: 1px solid red;
    align-self: center;
    font-size: 16px;
    color: #676767;
    position: relative;
    left: 28%;
  }

  .flagTextStory {
    // border: 1px solid red;
    align-self: center;
    font-size: 16px;
    color: #676767;
    position: relative;
    left: 45%;
  }

  .processBar {
    // border: 1px solid red;
    background-color: #E5E5E5;
    width: 100%;
    height: 15px;
    border-radius: 10px;
  }

  .processDivide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .processCourseGami {
    background-color: #80c3d8;
    // width: 100%;
    height: 15px;
  }

  .processCourseGami:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .processCourseGami:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #E5E5E5;
  }

  .processCourseLead {
    background-color: #bdc3c7;
    // width: 100%;
    height: 15px;
  }

  .processCourseLead:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .processCourseLead:not(:first-child) {
    background-color: #E5E5E5;
  }

  .processCourseLead:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .processCourseStory {
    background-color: #0000c1;
    // width: 100%;
    height: 15px;
  }

  .processCourseStory:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .processCourseStory:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .processCourseGami:nth-child(2),
  .processCourseLead:nth-child(2),
  .processCourseStory:nth-child(2) {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
  }

  //Section --> Point

  .pointWrapper {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: .5rem;
    row-gap: 1rem;
  }

  .coinWrapper {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    display: none;
  }

  .coinTitle {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 1rem 0;
  }

  .gainCoinWrapper>.coinImg {
    // border: 1px solid red;
    width: 40px;
    height: 30px;
    position: relative;
    overflow: hidden;
    margin: .5rem 0;
    text-align: center;
    display: block;
  }

  .chest {
    margin: 0 auto;
    height: 100%;
    width: auto;
    justify-content: center;
  }

  .gainCoinWrapper>.coinText {
    // border: 1px solid red;
    text-align: center;
    color: #7f8c8d;
    font-size: 12px;
    align-self: center;
  }

  //Section --> Project
  .graphWrapper {
    // border: 1px solid red;
    padding: 0.5rem;
    max-width: 160px;
    max-height: 80px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 0;
  }

  .boxProjectWrapper>.enrollTitle {
    // border: 1px solid red;
    font-size: 20px;
    font-weight: 600;
    color: #0000c1;
    margin: 1rem 0;
  }

  .projectWrapper {
    // border: 1px solid red;
    text-align: justify;
    text-align-last: end;
  }

  .projectTitle {
    // border: 1px solid red;
    color: #0096a2;
    font-size: 20px;
  }

  .projectTitle::before {
    content: "■";
    width: 15px;
    height: 15px;
  }

  .projectAssign>.assignTitle {
    // border: 1px solid red;
    margin-top: .5rem;
    color: #F55652;
    font-size: 16px;
  }

  .projectAssign>.assignDes {
    // border: 1px solid red;
    color: #bdc3c7;
    font-size: 12px;
    margin: .5rem 0;
  }

  .assignBar {
    // border: 1px solid red;
    background-color: #E5E5E5;
    width: 100%;
    height: 15px;
    border-radius: 10px;
  }

  .assignProcess {
    background-color: rgba(255, 99, 132, 1);
    width: 70%;
    height: 15px;
    border-radius: 10px;
  }

  .assignProcess2 {
    background-color: rgba(255, 99, 132, 1);
    width: 45%;
    height: 15px;
    border-radius: 10px;
  }

  .modalWrapper {
    margin: 100px;
    padding: 30px;
    background-color: '#000';
    border-radius: 10px;
    z-index: 100;
  }

  .customModal {
    background: #b2dbbf;
    max-width: 1500px;
    width: 100%;
  }

  .modal {
    width: 500px;
    background: white;
    border: 1px solid #ccc;
    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  .modal.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(0, 0, 0, 0.2);
  }

  @supports (offset-rotation: 0deg) {
    offset-rotation: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");

    .modal.off {
      offset-distance: 100%;
    }
  }

  @media (prefers-reduced-motion) {
    .modal {
      offset-path: none;
    }
  }

  .modal h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
  }

  .modal .content {
    padding: 1rem;
  }

  .modal .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
  }

  .modal .actions button {
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
  }

  button {
    padding: 0;
    border: none;
    background: none;
  }

  @keyframes blinkerCertificate {
    from {
      color: white;
    }

    to {
      color: rgba(255, 99, 132, 1);
    }
  }

  @keyframes blinkerCountdown {
    from {
      color: black;
    }

    to {
      color: rgba(255, 99, 132, 1);
    }
  }

  .blink {
    font-size: 16px;
    text-decoration: blink;
    animation-name: blinkerCertificate;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
  }

  .slideWrapper {
    height: 300px;
    width: 500px;
  }

  .stepWrapper {
    border: 1px solid #fff;
  }

  .hexWrapper {
    // border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 2.5rem;
    justify-content: center;
  }

  .hexagon {
    width: 100px;
    height: 60px;
    background: #bdc3c7;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hexagon:before {
    content: "";
    position: absolute;
    top: -24px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #bdc3c7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hexagon:after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #bdc3c7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .inTime {
    background: #0000c1 !important;
    // z-index: 1;
  }

  .inTime:after {
    border-top: 25px solid #0000c1;
  }

  .inTime:before {
    border-bottom: 25px solid #0000c1;
  }

  .hexagon .inSpace {
    background-color: #fff;
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    transform: scale(.8, .8);
    z-index: 1;
  }

  .hexagon .inSpace:before {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #fff;
  }

  .hexagon .inSpace:after {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #fff;
  }

  .hexagon .innerCom {
    background-color: #0000c1;
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    transform: scale(.8, .8);
    z-index: 1;
  }

  .hexagon .innerCom:before {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #0000c1;
  }

  .hexagon .innerCom:after {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #0000c1;
  }

  .hexagon .innerInPro {
    background-color: #80c3d8;
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    transform: scale(.8, .8);
    z-index: 1;
  }

  .hexagon .innerInPro:before {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #80c3d8;
  }

  .hexagon .innerInPro:after {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #80c3d8;
  }

  .hexagon .innerEn {
    background-color: #bdc3c7;
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    transform: scale(.8, .8);
    z-index: 1;
  }

  .hexagon .innerEn:before {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #bdc3c7;
  }

  .hexagon .innerEn:after {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #bdc3c7;
  }

  .hexTextStart {
    // border: 1px solid;
    text-align: start;
    align-self: center;
  }

  .hexTextEnd {
    // border: 1px solid;
    text-align: end;
    align-self: center;
  }

  .highlight {
    color: #0000c1;
  }

  .desText {
    font-size: 12px;
    color: rgba(255, 99, 132, 1);
    display: none;
  }

  // Responseive

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .headerWrapper {
      // border: 1px solid red;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .levelText {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      align-self: flex-end;
    }

    .levelBox {
      width: 130px;
      display: none;
    }

    .level {
      border: 4px solid white;
      text-align: center;
      top: -10px;
      padding: 0 .8rem;
      background-color: light#0c80df;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      font-size: 14px;
    }

    .levelPop {
      // border: 1px solid red;
      max-height: 25px;
      max-width: 120px;
      background: #2980b9;
      position: relative;
      cursor: pointer;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .levelPop::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 43%;
      height: 0;
      width: 0;
      // background: #0096a2;
      box-sizing: border-box;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-top: 15px solid #2980b9;
    }

    .rankTitle {
      font-size: 10px;
    }

    .boardImg {
      // border: 1px solid red;
      width: 60px;
      height: 60px;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: grid;
      justify-content: center;
      align-self: flex-end;
      display: none;
    }

    .cardText {
      font-size: 18px;
    }

    .cardBtn {
      display: inline-block;
      padding: .3rem;
      background-color: #a0a0a0;
      color: #fff;
      margin-top: .2rem;
      font-size: 11px;
    }

    .pieCard,
    svg,
    circle {
      // border: 1px solid red;
      width: 80px;
      max-height: 80px;
    }

    .textCard {
      align-self: center;
      margin: 0 .8rem;
    }

    .textCard>.intro {
      color: #fff;
      font-size: 14px;
    }

    .intro>.introGam {
      color: #fff;
      font-size: 16px;
    }

    .flagArrowGami {
      font-size: 12px;
    }

    .flagArrowLead {
      font-size: 12px;
    }

    .flagArrowStory {
      font-size: 12px;
    }

    .sectionWrapper {
      // border: 1px solid red;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem;
      margin-top: 1rem;
    }

    .boxPointWrapper>.pointTitle {
      // border: 1px solid red;
      font-size: 20px;
      font-weight: 600;
      color: #0000c1;
      margin: 1rem 0;
    }

    .pointSection {
      display: flex;
      justify-content: center;
      border: 1px solid #bdc3c7;
      border-radius: 10px;
      padding: 1rem;
    }

    .pointPie {
      text-align: center;
    }

    .pointCircle {
      height: 100px;
      width: 100px;
      background: #f39c12;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircle::before {
      content: "";
      height: 56px;
      width: 56px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 22px 0 0 22px;
    }

    .pointCircleBadge {
      height: 100px;
      width: 100px;
      background: #31757f;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircleBadge::before {
      content: "";
      height: 56px;
      width: 56px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 22px 0 0 22px;
    }

    .pointCircleCom {
      height: 100px;
      width: 100px;
      background: #4f6090;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircleCom::before {
      content: "";
      height: 56px;
      width: 56px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 22px 0 0 22px;
    }

    .pointCircleCoin {
      height: 100px;
      width: 100px;
      background: #242475;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircleCoin::before {
      content: "";
      height: 56px;
      width: 56px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 22px 0 0 22px;
    }

    .pointIn {
      // border: 1px solid red;
      position: relative;
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
      justify-content: center;
      // z-index: 1;
      font-size: 26px;
      font-weight: 600;
    }

    .pointPie>.pointTitle {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #676767;
    }

    .btnBadge>.pointTitle {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #676767;
    }

    .flagTextStory {
      // border: 1px solid red;
      align-self: center;
      font-size: 16px;
      color: #676767;
      position: relative;
      left: 45%;
    }

    .graphWrapper {
      // border: 1px solid red;
      padding: 0.5rem;
      max-width: 360px;
      max-height: 120px;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .coinWrapper {
      display: inline-block;
      padding: .5rem;
      background-color: #bdc3c7;
      height: min-content;
      border-radius: 10px;
      display: none;
    }

    .gainCoinWrapper {
      display: flex;
    }

    .hexWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 2.4rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .levelPop {
      max-height: 20px;
      width: 95px;
    }

    .levelPop::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 40%;
      height: 0;
      width: 0;
      box-sizing: border-box;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid #2980b9;
    }

    .level {
      border: 3px solid #fff;
      text-align: center;
      top: -10px;
      padding: 0 1rem;
      background-color: #add8e6;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      font-size: 12px;
    }

    .rankImg {
      max-width: 60px;
      max-height: 100px;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: grid;
      justify-content: center;
      align-self: flex-end;
      display: none;
    }

    .rank {
      margin: 0 .2rem;
      height: 50px;
      width: auto;
    }

    .rankTitle {
      font-size: 12px;
    }

    .boardImg {
      // border: 1px solid red;
      width: 60px;
      height: 60px;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: grid;
      justify-content: center;
      align-self: flex-end;
      display: none;
    }

    .pointPie {
      text-align: center;
    }

    .boxCourseWrapper {
      grid-area: courses
    }

    .boxPointWrapper {
      grid-area: points
    }

    .boxProjectWrapper {
      grid-area: projects;
    }

    .sectionWrapper {
      display: grid;
      grid-template:
        "projects courses courses courses"
        "points points points points";
      grid-template-columns: repeat(2, 1fr);
      margin-top: 1rem;
    }

    .processWrapper {
      padding: 2.3rem 2rem;
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      border: 1px solid #bdc3c7;
      border-radius: 10px;
    }

    .hexWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 2.5rem;
      justify-content: center;
    }

    .pointSection {
      display: flex;
      justify-content: center;
      border: 1px solid #bdc3c7;
      border-radius: 10px;
      padding: 1rem;
    }

    .pointWrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      column-gap: .5rem;
      row-gap: 1rem;
      justify-items: center;
    }


    .pointCircle {
      height: 100px;
      width: 100px;
      background: #44a7c6;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircle::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointCircleBadge {
      height: 100px;
      width: 100px;
      background: #31757f;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircleBadge::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointCircleCom {
      height: 100px;
      width: 100px;
      background: #4f6090;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem auto;
    }

    .pointCircleCom::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointCircleCoin {
      height: 100px;
      width: 100px;
      background: #242475;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircleCoin::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointIn {
      // border: 1px solid red;
      position: relative;
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
      justify-content: center;
      // z-index: 1;
      font-size: 24px;
      font-weight: 600;
    }

    .pointPie>.pointTitle {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #676767;
    }

    .btnBadge>.pointTitle {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #676767;
    }

    .graphWrapper {
      // border: 1px solid red;
      padding: 0.5rem;
      max-width: 240px;
      max-height: 180px;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .projectTitle {
      // border: 1px solid red;
      color: #0096a2;
      font-size: 20px;
      margin-top: 1rem;
    }

    .coinWrapper {
      display: inline-block;
      padding: .5rem;
      background-color: #bdc3c7;
      height: min-content;
      border-radius: 10px;
      display: none;
    }

    .gainCoinWrapper {
      display: flex;
    }

    .flagTextStory {
      // border: 1px solid red;
      align-self: center;
      font-size: 16px;
      color: #676767;
      position: relative;
      left: 45%;
    }
  }


  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {

    .headerWrapper>div:not(:first-child) {
      border-left: 1px solid #fff;
      height: 30px;
    }

    .levelPop {
      max-height: 20px;
      width: 95px;
    }

    .levelPop::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 40%;
      height: 0;
      width: 0;
      box-sizing: border-box;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid #2980b9;
    }

    .level {
      border: 3px solid #fff;
      text-align: center;
      top: -10px;
      padding: 0 1rem;
      background-color: #add8e6;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      font-size: 12px;
    }

    .rankImg {
      max-width: 60px;
      max-height: 80px;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: grid;
      justify-content: center;
      align-self: flex-end;
      display: none;
    }

    .rank {
      margin: 0 .2rem;
      height: 50px;
      width: auto;
    }

    .rankTitle {
      font-size: 12px;
    }

    .boardImg {
      // border: 1px solid red;
      width: 60px;
      height: 60px;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: grid;
      justify-content: center;
      align-self: flex-end;
      display: none;
    }

    .cerWrapper {
      display: flex;
    }

    .boxCourseWrapper {
      grid-area: courses
    }

    .boxPointWrapper {
      grid-area: points
    }

    .boxProjectWrapper {
      grid-area: projects;
    }

    .sectionWrapper {
      display: grid;
      grid-template:
        "projects courses courses courses"
        "points points points points";
      grid-column-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 1rem;
    }

    .boxPointWrapper>.pointTitle {
      // border: 1px solid red;
      font-size: 20px;
      font-weight: 600;
      color: #0000c1;
      margin: 1rem 0;
    }

    //Section --> Point
    .pointSection {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      border: 1px solid #bdc3c7;
      border-radius: 10px;
      padding: 1rem;
      height: 340px;
    }

    .pointCircle {
      height: 100px;
      width: 100px;
      background: #44a7c6;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircle::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointCircleBadge {
      height: 100px;
      width: 100px;
      background: #31757f;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircleBadge::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointCircleCom {
      height: 100px;
      width: 100px;
      background: #4f6090;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem auto;
    }

    .pointCircleCom::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointIn {
      // border: 1px solid red;
      position: relative;
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
      justify-content: center;
      // z-index: 1;
      font-size: 24px;
      font-weight: 600;
    }

    .pointPie>.pointTitle {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #676767;
    }

    .btnBadge>.pointTitle {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #676767;
    }

    .graphWrapper {
      // border: 1px solid red;
      padding: 0.5rem;
      max-width: 340px;
      max-height: 180px;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .projectTitle {
      // border: 1px solid red;
      color: #0096a2;
      font-size: 20px;
      margin-top: 1rem;
    }

    .coinWrapper {
      display: inline-block;
      padding: .5rem;
      background-color: #bdc3c7;
      height: min-content;
      border-radius: 10px;
      display: none;
    }

    .gainCoinWrapper {
      display: flex;
    }

    .flagTextStory {
      // border: 1px solid red;
      align-self: center;
      font-size: 16px;
      color: #676767;
      position: relative;
      left: 45%;
    }
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .sectionWrapper {
      display: grid;
      grid-template: "projects courses points";
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1rem;
      margin-top: 1rem;
    }

    .rankImg {
      max-width: 80px;
      max-height: 80px;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: grid;
      justify-content: center;
      align-self: flex-end;
      margin: 0 1rem;
      display: none;
    }

    .rank {
      margin: 0 auto;
      height: 50px;
      width: auto;
    }

    .rankTitle {
      font-size: 16px;
    }

    .avatar {
      margin: .5rem;
    }

    .levelBox {
      margin-left: 1rem;
      display: none;
    }

    .pointSection {
      display: flex;
      justify-content: center;
      border: 1px solid #bdc3c7;
      border-radius: 10px;
      padding: 1rem;
    }

    .pointWrapper {
      // border: 1px solid red;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .pointPie {
      text-align: center;
    }

    .boxPointWrapper>.pointTitle {
      // border: 1px solid red;
      font-size: 20px;
      font-weight: 600;
      color: #0000c1;
      margin: 1rem 0;
    }

    .pointCircle {
      height: 100px;
      width: 100px;
      background: #44a7c6;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircle::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: #fff;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointCircleBadge {
      height: 100px;
      width: 100px;
      background: #31757f;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircleBadge::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: #fff;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointCircleCom {
      height: 100px;
      width: 100px;
      background: #4f6090;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircleCom::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: #fff;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointCircleCoin {
      height: 100px;
      width: 100px;
      background: #242475;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircleCoin::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: #fff;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointIn {
      // border: 1px solid red;
      position: relative;
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
      justify-content: center;
      // z-index: 1;
      font-size: 24px;
      font-weight: 600;
    }

    .pointPie>.pointTitle {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #676767;
    }

    .btnBadge>.pointTitle {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #676767;
    }

    .coinWrapper {
      display: inline-block;
      padding: .5rem;
      background-color: #bdc3c7;
      height: min-content;
      border-radius: 10px;
      display: none;
    }

    .gainCoinWrapper {
      display: flex;
    }

    .coinImg {
      // border: 1px solid red;
      width: 40px;
      height: 30px;
      position: relative;
      overflow: hidden;
      margin: .5rem 0;
      text-align: center;
      display: block;
    }

    .chest {
      margin: 0 auto;
      height: 100%;
      width: auto;
      justify-content: center;
    }

    .coinText {
      // border: 1px solid red;
      text-align: center;
      color: #7f8c8d;
      font-size: 12px;
      align-self: center;
    }

    .graphWrapper {
      // border: 1px solid red;
      padding: 0.5rem;
      max-width: 240px;
      max-height: 180px;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .flagTextStory {
      // border: 1px solid red;
      align-self: center;
      font-size: 16px;
      color: #676767;
      position: relative;
      left: 45%;
    }
  }

  @media screen and (min-width: 1024px) and (min-height: 768px) {
    .levelBox {
      margin-left: .5rem;
      display: none;
    }

    .levelPop {
      max-height: 20px;
      width: 95px;
    }

    .levelPop::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 40%;
      height: 0;
      width: 0;
      box-sizing: border-box;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 15px solid #2980b9;
    }

    .level {
      border: 3px solid #fff;
      text-align: center;
      top: -10px;
      padding: 0 1rem;
      background-color: #add8e6;
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      font-size: 12px;
    }

    .rankImg {
      width: 80px;
      max-height: 80px;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: grid;
      justify-content: center;
      align-self: flex-end;
      display: none;
    }

    .rank {
      margin: 0 .2rem;
      height: 50px;
      width: auto;
    }

    .rankTitle {
      font-size: 12px;
    }

    .boardImg {
      // border: 1px solid red;
      width: 60px;
      height: 60px;
      position: relative;
      overflow: hidden;
      text-align: center;
      display: grid;
      justify-content: center;
      align-self: flex-end;
      display: none;
    }

    .boxCourseWrapper {
      grid-area: courses
    }

    .boxPointWrapper {
      grid-area: points
    }

    .boxProjectWrapper {
      grid-area: projects;
    }

    .sectionWrapper {
      display: grid;
      grid-template:
        "projects courses courses courses"
        "points points points points";
      grid-column-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 1rem;
    }

    .boxPointWrapper>.pointTitle {
      // border: 1px solid red;
      font-size: 20px;
      font-weight: 600;
      color: #0000c1;
      margin: 1rem 0;
    }

    //Section --> Point
    .pointSection {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      justify-content: center;
      border: 1px solid #bdc3c7;
      border-radius: 10px;
      padding: 1rem;
    }

    .pointWrapper {
      // border: 1px solid red;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
    }

    .pointCircle {
      height: 100px;
      width: 100px;
      background: #44a7c6;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircle::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointCircleBadge {
      height: 100px;
      width: 100px;
      background: #31757f;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin: 0.5rem;
    }

    .pointCircleBadge::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointCircleCom {
      height: 100px;
      width: 100px;
      background: #4f6090;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      margin-left: 1.2rem;
    }

    .pointCircleCom::before {
      content: "";
      height: 60px;
      width: 60px;
      background-color: white;
      border-radius: 50%;
      display: block;
      position: absolute;
      margin: 20px 0 0 20px;
    }

    .pointIn {
      // border: 1px solid red;
      position: relative;
      display: flex;
      height: 100%;
      width: auto;
      align-items: center;
      justify-content: center;
      // z-index: 1;
      font-size: 26px;
      font-weight: 600;
    }

    .pointPie>.pointTitle {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #676767;
    }

    .btnBadge>.pointTitle {
      // border: 1px solid red;
      font-size: 18px;
      font-weight: 600;
      color: #676767;
    }

    .graphWrapper {
      // border: 1px solid red;
      padding: 0.5rem;
      max-width: 240px;
      max-height: 180px;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 1rem;
    }

  }
}
