@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  font-family: "Nunito" !important;
  font-weight: 300;
}

.modalWrapper {
  margin: 15% auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
}

.imgBadge {
  width: 180px;
  margin-left: 33%;
}

.imgCer {
  width: 300px;
}

.badgeTitle {
  font-weight: bold;
  font-family: Nunito;
}
.badgeDes {
  font-family: Nunito;
}

.leaderTitle {
  display: flex;
  justify-content: space-between;
}
.tableBox {
  height: 540px;
}

@media only screen and (max-width: 600px) {
  .imgBadge {
    width: 80px;
    margin: 0 1px;
  }
  .badgeTitle {
    font-weight: bold;
    font-family: Nunito;
    font-size: 12px;
  }
  .badgeDes {
    font-family: Nunito;
    font-size: 10px;
  }

  .imgCer {
    width: 250px;
  }

  .leaderTable {
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    height: auto;
    position: absolute;
  }
}

@media only screen and (min-width: 600px) {
  .tableBox {
    height: 200px;
  }

  .modalWrapper {
    margin: 15px 5%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
  }

  .imgBadge {
    width: 100px;
    margin: 0 8%;
  }

  .imgCer {
    width: 180px;
  }

  .leaderTable {
    margin: auto 5%;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: auto;
    height: auto;
    position: absolute;
  }
}
@media only screen and (min-width: 812px) and (min-height: 375px) {
  .tableBox {
    height: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .imgBadge {
    width: 100px;
    margin: 0 15%;
  }

  .imgCer {
    width: 200px;
  }

  .leaderTable {
    margin: auto 10%;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    width: 600px;
    height: auto;
    position: absolute;
  }

  .tableBox {
    height: 540px;
  }
}

@media only screen and (min-width: 992px) {
  .imgBadge {
    width: 120px;
    margin: 0 30%;
  }

  .imgCer {
    width: 280px;
  }

  .leaderTable {
    margin: auto 20%;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    width: 800px;
    height: auto;
    position: absolute;
  }

  .modalWrapper {
    margin: 15% 5%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
  .imgBadge {
    width: 120px;
    margin: 0 18%;
  }

  .leaderTable {
    margin: auto 10%;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 800px;
    height: auto;
    position: absolute;
  }

  .tableBox {
    height: 540px;
  }
}
